<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu - Thực Đơn</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCartPage()">
        <ion-icon name='cart'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-segment *ngIf="filterCategories.length > 0" [(ngModel)]="selectedCategory" padding>
      <ng-container *ngFor="let category of filterCategories">
      <ion-segment-button [value]="category" (click)="setSelectedProducts(selectedCategory)">
        {{ category }}
      </ion-segment-button>
      </ng-container>
    </ion-segment>
  <div padding [ngSwitch]="selectedCategory">
    <ng-container *ngFor="let category of filterCategories">
    <ion-list *ngSwitchCase="category">
      <ion-item *ngFor="let product of filterProducts">
        <ion-thumbnail item-left>
          <img src="assets/images/{{ product.url }}">
        </ion-thumbnail>
        <h2>{{ product.name }}</h2>
        <p color="danger">{{ product.price | number }}đ</p>
        <button ion-button clear item-right (click)="presentProduct($event, product)">Xem</button>
      </ion-item>
    </ion-list>
    </ng-container>
  </div>
</ion-content>

