<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="selectedCategory">
      <ion-segment-button *ngFor="let category of categories" [value]="category.title">
        {{ category.title }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="selectedCategory">
    <ng-container *ngFor="let category of categories">
      <ion-list *ngSwitchCase="category.title">
        <ion-item *ngFor="let product of category.products">
          <ion-thumbnail item-left>
            <img src="assets/images/{{ product.imgUrl }}">
          </ion-thumbnail>
          <h2>{{ product.title }}</h2>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>

</ion-content>
