<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Giỏ Hàng</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div *ngIf="orderLines.length > 0">
  <p>Bạn có {{ orderLines.length }} orders trong giỏ hàng:</p>
  <p *ngFor="let orderline of orderLines" text-right>
    {{ orderline.name }} ({{ orderline.modifier }}) {{ orderline.price | number }}đ x {{ orderline.quantity }} = {{ orderline.price * orderline.quantity | number }}đ
  </p>
  <hr/>
<p text-right class='secondary'><b>Tổng Cộng: {{ getTotal() | number }}đ</b></p>
</div>
<div *ngIf="orderLines.length <= 0"> <p>Không có order trong giỏ hàng</p>
  <button ion-button end outline (click)=gotoCategory()>Thêm Order</button>
</div>
<button ion-button block (click) = "gotoCheckout()">Tiếp Tục</button>
</ion-content>
